[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "irtpwr"]
	path = irtpwr
	url = https://github.com/flxzimmer/irtpwr
[submodule "mlpwr"]
	path = mlpwr
	url = https://github.com/flxzimmer/mlpwr
